# Dependency
node_modules/

# WhatsApp Session Data (Sangat Penting!)
# Ini berisi kunci enkripsi chat klien. Jangan sampai bocor ke publik.
auth_info_baileys/
.wwebjs_auth/
.wwebjs_cache/

# Environment Variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS Metadata
.DS_Store
Thumbs.db

# Build/Dist folders (Jika nanti pakai TypeScript)
dist/
build/